body {
  padding-top: 50px;
}

.any {
  background-color: tan;
}

.all {
  background-color: green;
}

.phrase {
  background-color: yellow;
}

.text {
  background-color: #cccccc;
}

.place {
  background-color: orange;
}

.page {
  font-size: smaller;
  font-style: italic;
  border: thin solid #cccccc;
}

.date {
  background-color: pink;
}

.newspaper {
  background-color: lightblue;
}

.search span {
  margin: 7px;
  padding: 7px;
  border-radius: 5px;
}

.view span {
  margin :7px;
  padding: 7px;
  border-radius: 5px;
}

li {
  padding: 10px;
  list-style-type: none;
  line-height: 2;
  border-bottom: thin solid #dddddd;
}

#updates {
}

#legend {
  text-align: center;
  font-size: 12pt;
}
