<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" media="screen">

  </head>
  <body>

      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar">foo</span>
            <span class="icon-bar">bar</span>
          </button>
          <a class="navbar-brand" href="/">Chronicling America Live</a>
          <ul class="navbar-nav">
            <li class="active"><a href="/">Stream</a></li>
            <li><a href="/map/">Map</a></li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-2">

          <div id="legend">
            Legend:
            <p class="search"><span class="any">any words</span></p>
            <p class="search"><span class="all">all words</span></p>
            <p class="search"><span class="phrase">phrase</span><br>
            <p class="search"><span class="text">close words</span></p>
            <p class="search"><span class="date">date range</span></p>
            <p class="search"><span class="place">place</span></p>
            <p class="search"><span class="newspaper">newspaper</span></p>
            <br>
            Filter:<br>
            <form>
              <select id="filter">
                <option value="all">All</option>
                <option value="view">Views</option>
                <option value="search">Searches</option>
              </select>
              <br>
              <br>
              <input name="bots" type="checkbox">Include Bots
            </form>
          </div>

          </div>

          <div class="col-lg-10">
          <ul id="updates" class="col-4"></ul>
          </div>

      </div>

      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="/js/chroma.js"></script>

  </body>
</html>
