<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/js/chroma.js"></script>
    <script src="/js/jquery.hotkeys.js"></script>
  </head>
  <body>

      <div id="col1">

          <div id="logo">
            Chronicling<br>
            America Live<br><br>
            <img src="/images/loc.png">
            <img src="/images/neh.png">
          </div>

          <div id="legend">
            Legend:
            <p class="search"><span class="any">any words</span></p>
            <p class="search"><span class="all">all words</span></p>
            <p class="search"><span class="phrase">phrase</span><br>
            <p class="search"><span class="text">close words</span></p>
            <p class="search"><span class="date">date range</span></p>
            <p class="search"><span class="place">place</span></p>
            <p class="search"><span class="newspaper">newspaper</span></p>
            <br>
            Filter:<br>
            <form>
            <select id="filter">
                <option value="all">All</option>
                <option value="view">Views</option>
                <option value="search">Searches</option>
            </select>
            </form>
          </div>

      </div>

      <div id="col2">
        <ul id="updates" class="col-4"></ul>
      </div>

  </body>
</html>
