<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/repository-services-theme.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container header">
      <div class="logo"><a href="http://www.loc.gov/"><img src="/images/lc_logo.jpg" alt="Library of Congress Logo"></a></div>
      <div class="brand">Chroma</div>
    </div>

    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav">
            <li><a href="/">Stream</a></li>
            <li><a href="/map/">Map</a></li>
            <li><a href="/frontpages/">Front Pages</a></li>
	  </ul>
	</div>
      </nav>
    </div>

      {{template "content" .}}

      {{template "scripts" .}}

    <script>
    function initPage() {
        $('ul.nav > li > a[href="' + document.location.pathname + '"]').parent().addClass('active');
    }
    $(initPage);
    </script>
    <script src="/js/repository-services-theme.min.js"></script>
  </body>
</html>
