{{define "content"}}
      <div class="container">
        <div class="row" style="margin-top: 20px;">
          <div class="col-lg-2 hidden-sm hidden-xs">

          <div id="legend">
            <h3>Legend</h3>
            <ul class="list-unstyled">
              <li class="update"><span class="newspaper">newspaper</span></li>
              <li class="update"><span class="place">place</span></li>
              <li class="update"><span class="date">date</span></li>
              <li class="update"><span class="any">any words</span></li>
              <li class="update"><span class="all">all words</span></li>
              <li class="update"><span class="phrase">phrase</span><br>
              <li class="update"><span class="text">close words</span></li>
              <li class="update"><span class="bot">crawler</span></li>
            </ul>

            <br>

            <h3>Filters</h3>
            <form>
              <select class="form-control" id="filter">
                <option value="all">View All</option>
                <option value="view">Only Page Views</option>
                <option value="search">Only Searches</option>
              </select>
              <div class="checkbox">
                <label>
                  <input name="bots" type="checkbox">Include Crawlers 
                </label>
              </div>
            </form>
          </div>

          </div>

          <div class="col-xs-12 col-sm-12 col-lg-10">
          <ul id="updates" class="col-4 list-unstyled"></ul>
          </div>

      </div>
{{end}}

{{define "scripts"}}
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="/js/utils.js"></script>
      <script src="/js/stream.js"></script>
{{end}}
